<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="nation.css">
	<title>Nation</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap');
	</style>

</head>

<body>
	<section class="nation">
		<img src="./Flag-Belgium.jpg" alt="Flag" class="nation__flag">
		<div class="nation__info">
			<h3 class="nation__name">Belgium</h3>
			<div class="nation__details">
				<div class="nation__details--1">
					<div class="nation__detail-item">
						<div class="nation__detail-text">Native Name:</div>
						<p class="nation__detail-value">Belgie</p>
					</div>
					<div class="nation__detail-item">
						<div class="nation__detail-text">Population:</div>
						<p class="nation__detail-value">11.319.511</p>
					</div>
					<div class="nation__detail-item">
						<div class="nation__detail-text">Region:</div>
						<p class="nation__detail-value">Europe</p>
					</div>
					<div class="nation__detail-item">
						<div class="nation__detail-text">Sub Region:</div>
						<p class="nation__detail-value">Western Europe</p>
					</div>
					<div class="nation__detail-item">
						<div class="nation__detail-text">Capital:</div>
						<p class="nation__detail-value">Brussels</p>
					</div>
				</div>
				<div class="nation__details--2">
					<div class="nation__detail-item">
						<div class="nation__detail-text">Top Level Domain:</div>
						<p class="nation__detail-value">be</p>
					</div>
					<div class="nation__detail-item">
						<div class="nation__detail-text">Currencies:</div>
						<p class="nation__detail-value">Euro</p>
					</div>
					<div class="nation__detail-item">
						<div class="nation__detail-text">Languages:</div>
						<p class="nation__detail-value">Dutch, French, German</p>
					</div>
				</div>
			</div>
			<div class="nation__border">
				<div class="nation__border-text">Border Countries</div>
				<div class="nation__border-contries">
					<p>France</p>
					<p>Germary</p>
					<p>Netherlands</p>
				</div>
			</div>
		</div>
	</section>
</body>

</html>